######################
# Project Specific
######################
.tmp

######################
# Node
######################
/node/**
/node_modules/**

######################
# Mac OSX
######################
.DS_Store
**/.DS_Store

######################
# IDE
######################
.vscode
.idea

######################
# Logs
######################
*.log*
notes
